<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Barcodeokapi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>barcodeokapi</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
    <!-- アプリ権限追加の設定ここから -->
    <!-- 参考: https://github.com/Baseflow/flutter-permission-handler/blob/main/permission_handler_apple/example/ios/Runner/Info.plist -->
	<key>NSCameraUsageDescription</key>
	<string>バーコードを読み取るために許可が必要です。</string>
	<key>NSMicrophoneUsageDescription</key>
    <string>動画を撮影するために許可が必要です。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>アルバムから画像・動画を使用したり保存したりするために許可が必要です。</string>
	<!-- 使わないけど必要ぽいので入れておくが, 一旦コメントアウト https://github.com/Baseflow/flutter-permission-handler/issues/302 -->
	<!-- <key>NSAppleMusicUsageDescription</key> -->
	<!-- <string>アルバムアクセスの為の権限設定を追加</string> -->
	<!-- アプリ権限追加の設定ここまで -->
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
